@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Da tu reseña, crítica o simplemente tu opinión sobre las películas en cartelera.</a>.</p>
</div>
